//colors
$color-primary: #3354FF;
$color-primary-light: #3E8DEE;
$color-primary-dark: #2224F8;
$color-white: #FFFFFF;
$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #999;
$color-black: #000;
$color-purple: #7F00FF;
$color-purple-light: #BF5FFF;
$color-red: red;
$color-green: green;

//font size
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;