.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: .15; */
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(to right bottom, rgba($color-primary, 0.75), rgba($color-primary-light, 0.45));
    }

    &-content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}